
body {
    background-color: #222;
    font-family: "Arial";
    margin: 0px 0px;
    color:#aaa;
}

#main {
    border: solid #aaa 3px;
    margin: 30px auto;
    width: 500pt;
    padding: 20px 20px;
}

li > h3 {
    color: #a33;
}

.automatic {
    font-size: 80%;
    color: #7ab;
}