
body {
    background-color: #222;
    font-family: "Arial";
    margin: 0px 0px;
    color:#bbb;
}

#main {
    border: solid #aaa 3px;
    margin: 30px auto;
    width: 450pt;
    padding: 20px 20px;
    letter-spacing: 0.04em;
    line-height: 1.45em;
}

h1, h2 {
    color: rgb(203, 74, 27);
}

li > h3 {
    color: #a33;
}

#cards div:not(:last-child) {
    margin-bottom: 13px;
}

.automatic {
    font-size: 80%;
    color: #7ab;
}

#cards h3 {
    color: rgb(90, 162, 66);
} 

#cards h3 .card_stats {
    color: rgb(53, 101, 138);
    font-size: 80%;
    padding-left: 8px;
} 