body {
  background-color: #2d2d2d;
  font-family: "Arial";
  margin: 0px 0px;
  color:#aaa;
}

#browse {
  margin: 30px auto;
  width: 80%;
}

#match_list {

}

#banner {
  font-family: Palatino;
  text-align:center;
  font-size: 280%;
}

/* unvisited link */
a:link {
  color: rgb(79, 79, 201);
}

/* visited link */
a:visited {
  color: rgb(79, 79, 201);
}

#join_instruction {
  font-size: 60%;
}


#top-container {
  display: grid;
  grid-template-columns: 670px 550px;
}


#turn_info {
  display: grid;
  grid-template-columns: 125px 208px auto;
  margin-bottom: 10px;
}

#turn_info > * {
  -moz-user-select: none;
  user-select: none;
  display: inline-grid;
}

#readyup {
  position: fixed;
  top: 200px;
  background-color: rgb(20, 20, 20, 0.9);
  height: 200px;
  width: 100%;
}

#readyup > button {
  display: block;
  color: white;
  background-color: black;
  border: solid white 3px; 
  outline: none;
  margin: 80px auto;
  cursor: pointer;
  font-size: 140%;
}

#readyup > div {
  color: white;
  font-size: 140%;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.highlight_card {
  background-color: #1ccccc;
  color: white;
}

.select_card {
  background-color: #ef9ba9;
  font-weight: bold;
  color: white;
}

.unplayable_card {
  color: #777;
}


#card_list {
  height: 250px;
  border: solid 2px black;
  -moz-user-select: none;
  user-select: none;
  overflow-y: scroll;
}

#card_list > div {
  font-size: 110%;
  padding: 3px 10px;
}

#card_description {
  display: none;
  height: 230px;
}

#status_info {
  display: none;
  height: 230px;
}

.status_entry.negative {
  color: rgb(197, 43, 43);
}

.status_entry.positive {
  color: #0a750a;
}

#timer {
  font-size: 110%;
  font-weight: bold;
}

#log {
  height: 210px;
  overflow-y: scroll;
}

#wait_opponent {
  color: darkred;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
}

#pass_button {
  color: #0a750a;
  font-size: 110%;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  text-decoration: underline;
}

#board {
  margin-top: 10px;
}

.log_entry {
  padding: 5px 5px;
}

.white_log {
  background-color: white;
  color: black;
}

.black_log {

}

.neutral_log {
  background-color: rgb(167, 42, 63);
  color: white;
}
