body {
  background-color: #bbb;
  font-family: "Arial";
}

#scoreboard {
margin-left: 40px;
}

.highlight_card {
  background-color: #1ccccc;
}

.select_card {
  background-color: #ef9ba9;
  font-weight: bold;
}

#card_list {
  height: 350px;
  border: solid 2px black;
  user-select: none;
  clear: both;
}

#card_list div {
  font-size: 130%;
  padding: 5px 5px;
}

#card_buttons h3 {
  float: left;
}

#timer {
  float: right;
  margin-top: 17px;
  margin-right: 15px;
  font-size: 110%;
  font-weight: bold;
  width: 100px;
  text-align: right;
}

#wait_opponent {
  color: darkred;
  float: right;
  margin-top: 17px;
  margin-right: 15px;
  font-size: 110%;
  font-weight: bold;
  width: 140px;
  text-align: right;
}

#card_buttons button {
  display: block;
  float: right;
  margin: 14px 16px 0px 0px;
  font-size: 110%;
  outline: none;
}

#board {
  margin-top: 10px;
}
