body {
  background-color: #bbb;
  font-family: "Arial";
}

#scoreboard {
margin-left: 40px;
}

.highlight_card {
  background-color: #1ccccc;
}

.select_card {
  background-color: #ef9ba9;
  font-weight: bold;
}

#card_list {
  height: 350px;
  border: solid 2px black;
  user-select: none;
  clear: both;
}

#card_list div {
  font-size: 130%;
  padding: 5px 5px;
}

#turn {
  float: left;
  font-size: 100%;
  width: 450px;
  margin: 10px 0px 0px 20px;
  color: #bb3636;
}

#card_buttons h3 {
  float: left;
}

#card_buttons button {
  display: block;
  float: right;
  margin: 14px 16px 0px 0px;
  font-size: 110%;
}

#board {
  margin-top: 10px;
}
