body {
  background-color: #bbb;
  font-family: "Arial";
}

#card_list {
  height: 350px;
  border: solid 2px black;
  user-select: none;
}

#scoreboard {

}

.highlight_card {
  background-color: #15ffff;
}

.select_card {
  background-color: #ffc0cb;
  font-weight: bold;
}

#card_list div {
  font-size: 130%;
  padding: 5px 5px;
}

#turn_container {
  float: left;
  font-size: 100%;
  width: 750px;
  margin: 10px 0px 0px 30px;
  color: #bb3636;
}

#turn {
  float: left;
  width: 600px;
}

#turn_container button {
  font-size: 100%;
  width: 100px;
  display: block;
  margin-bottom: 10px;
}

#board {
  margin-top: 10px;
}
