<html>
  <head>
    <title>Chrss - browse open matches</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
<body>
  
<div>
  <h1>LET'S PLAY CHRSS!</h1>
  <h2>Open matches<h2>
    <a href="/createMatch">Create match</a>
    {{if not .}}
    <h3>No open matches.</h3>
    {{end}}
    <ul>
        {{range .}}
            <li>{{.Name}} <a href="/match/{{.UUID}}">Join</a></li>
        {{end}}
    </ul>
  
</div>


</body>
</html>
