<html>
  <head>
    <title>Chrss - browse open matches</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
<body>
  
<div id="browse">
  <h1 id="banner">Let's Play Chrss!</h1>
  <h2><a href="/guide">How to play</a><h2>

    <a href="/createMatch">Create match</a>
    <div id="match_list">
      {{if .Open}}
      <h3>Open matches:</h3>
      <p id="join_instruction">click white or black to join as that color (the play both sides option is for development purposes)</p>
      <ul>
          {{range .Open}}
              <li>{{.Name}} ({{.Elapsed}} ago) 
                {{if .WhiteOpen}}<a href="/match/{{.Name}}/white">white</a>{{end}}
                {{if .BlackOpen}}<a href="/match/{{.Name}}/black">black</a>{{end}} 
                {{if and .WhiteOpen .BlackOpen}}<a href="/dev/{{.Name}}">play both sides</a>{{end}}
              </li>
          {{end}}
      </ul>
      {{end}}
      {{if .Full}}
      <h3>Full matches:</h3>
      <ul>
          {{range .Full}}
              <li>{{.Name}} ({{.Elapsed}} ago)</li>
          {{end}}
      </ul>
      {{end}}
    </div>
</div>


</body>
</html>
