<html>
  <head>
    <title>Chrss - browse non-open matches</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
<body>
  
<div>
  <h1>Non-open matches<h1>
    <a href="/createMatch">Create match</a>
    {{if not .}}
    <h3>No current matches.</h3>
    {{end}}
    <ul>
        {{range .}}
            <li>{{if .Finished}} Done {{else}} In progress {{end}} {{.Name}} {{.UUID}}</li>
        {{end}}
    </ul>
  
</div>


</body>
</html>
