<html>
  <head>
    <title>Go Getting Started on Heroku</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
  </head>
<body>
  
<div>
  
  <h1>LET'S PLAY CHRSS</h1>
  <div style="float:left;">
    <h3>Black's turn</h3>
    <canvas id="board" id="tutorial" width="800" height="800"></canvas>
  </div>
  
  <div style="float:left; margin-left: 30px; width:400px;">
    <h3>Cards</h3>
  </div>
  
</div>


</body>
<script src="/static/main.js"></script>
</html>
