<!DOCTYPE html>
<html>
<head>
    <title>Dev - Chrss</title>
    <link rel="stylesheet" type="text/css" href="/static/dev.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
</head>
<body>
<div>
<iframe src="/match/{{.}}/white"></iframe>
</div>
<div>
<iframe src="/match/{{.}}/black"></iframe>
</div>
</body>
</html>