<html>
    <head>
        <title>Chrss - guide</title>
        <link rel="stylesheet" type="text/css" href="/static/guide.css">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="main">
            <h1>How to play Chrss</h1>
            <p>(pronounced like CHUR-SS, but with your jaw kept shut)</p>
            <h2>Goal</h2>
            <p>Win by killing the enemy King or by killing all three enemy vassals (Bishop, Knight, and Rook). </p>
            <h2>Rules</h2>
            <p>The game is played in rounds:</p>
            <ol>
                <li><h3>Replenish mana <span class="automatic">(automatic)</h3></span>
                    <p>Each round, the player has a number of mana points to spend playing cards (different cards have different costs). Each player's mana is replenished at the start of each round. Each player has 3 mana points in the first round and one additional point in each subsequent round.</p>
                </li>
                <li><h3>Spawn and place pawns <span class="automatic">(automatic)</span></h3>
                    <p>In the first round, each player is given four pawns, which are automatically and randomly placed on the board. In subsequent rounds, the player is given one additional pawn (or two if they have zero on the board) up to a max of five on the board. Pawns will not be placed in the back row nor placed in a column where any piece occupies either the front or middle row. (A new pawn is discarded if it has no valid space for placement.)</p>
                </li>
                <li><h3>Draw cards <span class="automatic">(automatic)</span></h3>
                    <p>At the start of the match, the player's hand starts with a Bishop, a Knight, a Rook, and four other cards drawn at random. In subsequent rounds, the player draws two additional cards. Card draws are not entirely random: the draw is biased towards cards with a mana cost that's less than or equal to a player's max mana.</p>
                </li>
                <li><h3>Place King (if not already on board)</h3>
                    <p>Before playing cards, both players must place their Kings if they are not already on the board. Excepting for some special card effects, a player can only place their pieces on their own side of the board. (If the timer expires before a player plays their King, their King is randomly placed in a free spot on the player's side of the board.)</p>
                </li>
                <li><h3>Take turns playing cards</h3>
                    <p>Once both Kings are on the board, the players take turns playing cards. A player can pass instead of playing a card. This goes back and forth until the players pass, one immediately after the other. In odd-numbered rounds, White has first turn. In even-numbered rounds, Black has first turn.</p>
                </li>
                <li><h3>Combat resolution <span class="automatic">(automatic)</span></h3>
                    <p>After both players pass in succession, the pieces on the board damage each other according to their attack power and lines of attack (<em>e.g.</em> diagonal for bishops, cardinal directions for rooks, <em>etc.</em>). A single piece can damage multiple other targets, <em>e.g.</em> a bishop damages enemy pieces in all diagonal directions. Barring special card effects, attacks do not pass through allied or enemy pieces.</p>
                </li>
                <li><h3>Reclaim up to two pieces</h3>
                    <p>After combat resolution, each player can reclaim up to two pieces from the board. A reclaimed Pawn or Rook partially heals when reclaimed, but a Bishop, Knight, or King does not (unless modified by certain card effects).</p>
                </li>
            </ol>
            <p></p>
            
            <h2>Cards</h2>
            <h3>King</h3>
            <p></p>
            <h3>Bishop</h3>
            <p></p>
            <h3>Knight</h3>
            <p></p>
            <h3>Rook</h3>
            <p></p>
            <h3>Pawn</h3>
            <p></p>
        </div>
    </body>
</html>
      