<!DOCTYPE html>
<html>
    <head>
        <title>Chrss - guide</title>
        <link rel="stylesheet" type="text/css" href="/static/guide.css">
        <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <div id="main">
            <h1>How to play Chrss</h1>
            <p>(pronounced like CHUR-SS, but with your jaw kept shut)</p>
            <h2>Goal</h2>
            <p>Win by killing the enemy King or by killing two of the three enemy vassals (Bishop, Knight, and Rook). </p>
            <h2>Rules</h2>
            <p>In each round, the players first place their kings, then take turns playing cards, and lastly have the option to reclaim pieces. Some additional steps occur automatically, as shown in the following full sequence of steps:</p>
            <ol>
                <li><h3>Replenish mana <span class="automatic">(automatic)</h3></span>
                    <p>Each round, the player has a number of mana points to spend playing cards (different cards have different costs). Each player's mana is replenished at the start of each round. Each player has 3 mana points in the first round and one additional point in each subsequent round.</p>
                </li>
                <li><h3>Spawn pawns <span class="automatic">(automatic)</span></h3>
                    <p>In the first round, each player is given four pawns, which are automatically and randomly placed on the board. In subsequent rounds, the player is given one additional pawn (or two if they have zero on the board) up to a max of five on the board. Pawns will not be placed in the back row nor placed in a column where any piece occupies either the front or middle row. (A new pawn is discarded if it has no valid space for placement.)</p>
                </li>
                <li><h3>Draw cards <span class="automatic">(automatic)</span></h3>
                    <p>At the start of the match, the player's hand starts with a Bishop, a Knight, a Rook, and four other cards drawn at random. In subsequent rounds, the player draws two additional cards. (Card draws are not entirely random: the draw is biased towards cards with a mana cost that's less than or equal to a player's max mana.)</p>
                </li>
                <li><h3>Place Kings</h3>
                    <p>Before playing cards, both players must place their Kings if the Kings are not already on the board. Excepting for some special card effects, a player can only place their pieces on their own side of the board. (If the timer expires before a player plays their King, their King is randomly placed in a free square on the player's side of the board.)</p>
                </li>
                <li><h3>Play cards</h3>
                    <p>Once both Kings are on the board, the players take turns playing cards. A player can pass instead of playing a card. Card playing ends when a player passes directly after the other player has passed. In odd-numbered rounds, White has first turn. In even-numbered rounds, Black has first turn.</p>
                </li>
                <li><h3>Combat <span class="automatic">(automatic)</span></h3>
                    <p>Once card playing ends, the pieces on the board damage each other according to their attack power and lines of attack (<em>e.g.</em> diagonal for bishops, cardinal directions for rooks, <em>etc.</em>). A single piece can damage multiple other targets, <em>e.g.</em> a bishop damages enemy pieces in all diagonal directions. Barring special card effects, attacks do not pass through allied or enemy pieces.</p>
                </li>
                <li><h3>Reclaim pieces</h3>
                    <p>After combat resolution, each player can reclaim up to two pieces from the board. Reclaiming a vassal (Bishop, Knight, or Rook) puts the vassal card back in the player's hand, <em>e.g.</em> reclaiming a Bishop puts the Bishop card back in the player's hand. A reclaimed Rook is healed for 5 HP. A reclaimed King must be placed back on the board first thing next round. Reclaiming any other piece simply discards the piece (sometimes useful for getting pieces out of the way).</p>
                </li>
            </ol>
            <p></p>
            
            <div id="cards">
                <h2>Cards</h2>
                <h3>Rook <span class="card_stats">0 mana cost, 20 HP, 6 attack</span></h3>
                <div>Click free square on your side to place.</div><div>Attacks up/down/left/right. You only 
                get one Rook in the match. When reclaimed, its HP and status effects persist, and you get a Rook card back in your hand.
                 When reclaimed, healed for 5 HP.</div>
                <h3>Bishop <span class="card_stats">0 mana cost, 25 HP, 4 attack</span></h3>
                <div>Click free square on your side to place.</div><div>Attacks diagonally. You only get one 
                Bishop in the match. When reclaimed, its HP and status effects persist, and you get a Bishop card back in your hand.</div>
                <h3>Knight <span class="card_stats">0 mana cost, 25 HP, 5 attack</span></h3>
                <div>Click free square on your side to place.</div><div>Attacks are not blocked by other units. 
                Attacks in 'L' shape: two spaces in cardinal direction and one space over. You only get one Knight in the match. When reclaimed, its HP and status effects persist, and you get a Knight card back in your hand.</div>
                <h3>Pawn <span class="card_stats">0 mana cost, 5 HP, 2 attack</span></h3>
                <div>Click free square on your side to place.</div><div>Attacks one space diagonally towards opponent side.</div>
                <h3>Queen <span class="card_stats">5 mana cost, 15 HP, 6 attack</span></h3>
                <div>Click free square on your side to place.</div><div>Attacks diagonally and up/down/left/right.</div>
                <h3>Castle <span class="card_stats">2 mana cost</span></h3>
                <div>Click either King.</div><div>Swaps the clicked King's position with the Rook of the same color. 
                (Can only use Castle on a King whose Rook is on the board.)</div>
                <h3>Reclaim Vassal <span class="card_stats">2 mana cost</span></h3>
                <div>Click an ally Knight, Bishop, or Rook.</div><div>The clicked vassal is reclaimed immediately.</div>
                <h3>Swap Front Lines <span class="card_stats">2 mana cost</span></h3>
                <div>Click the ally or enemy King.</div><div>Swaps all pieces between the front and middle rows on the clicked King's side.</div>
                <h3>Remove Pawn <span class="card_stats">2 mana cost</span></h3>
                <div>Click an ally or enemy Pawn.</div><div>Removes the Pawn.</div>
                <h3>Force Combat <span class="card_stats">3 mana cost</span></h3>
                <div>Click your King to confirm.</div><div>Immediately advances match to combat and the end of round.</div>
                <h3>Mirror <span class="card_stats">2 mana cost</span></h3>
                <div>Click either King.</div><div>Moves all pieces of clicked color to their horizontally-mirrored positions, 
                <em>e.g.</em> all pieces in the leftmost column move to the rightmost column and <em>vice versa</em>.</div>
                <h3>Heal <span class="card_stats">2 mana cost</span></h3>
                <div>Click any of your pieces (except your King).</div><div>Adds 5 HP to a non-King piece (not capped by the piece's starting health).</div>
                <h3>Toggle Pawn <span class="card_stats">2 mana cost</span></h3>
                <div>Click a Pawn.</div><div>Moves a Pawn in the front row to the middle row or moves a Pawn in the middle
                 row to the front row. The destination square must be unoccupied.</div>
                <h3>Drain Mana <span class="card_stats">2 mana cost</span></h3>
                <div>Click enemy King.</div><div>Subtract two mana from the enemy's current mana.</div>
                <h3>Nuke <span class="card_stats">2 mana cost</span></h3>
                <div>Click either King.</div><div>Immediately inflict 6 damage on all pieces within 1 square of the clicked King
                 and 3 damage on all pieces withing 2 squares of the clicked King.</div>
                <h3>Shove <span class="card_stats">2 mana cost</span></h3>
                <div>Click an ally or enemy piece.</div><div>Moves a white piece one square towards white's back row; moves a black piece
                 one square towards black's back row.</div>
                <h3>Advance <span class="card_stats">2 mana cost</span></h3>
                <div>Click an ally or enemy piece.</div><div>Moves a white piece one square towards black's back row; moves a black piece
                 one square towards white's back row.</div>
                <h3>Restore Mana <span class="card_stats">2 mana cost</span></h3>
                <div>Click your King.</div><div>Restores your mana to max.</div>
                <h3>Summon Pawn <span class="card_stats">2 mana cost</span></h3>
                <div>Click your King.</div><div>Summons an additional pawn (subject to usual max of 5 pawns and restrictions on pawn placement).</div>
                <h3>Jester <span class="card_stats">3 mana cost, 12 HP, 0 attack</span></h3>
                <div>Click free square on your side to place.</div><div>Does not attack. Puts 'distract' effect on all 
                adjacent squares except those behind the jester. A piece in a square with distract does not attack.</div>
                <h3>Vulnerability <span class="card_stats">2 mana cost, 1 round duration</span></h3>
                <div>Click enemy piece.</div><div>Doubles damage the targeted piece takes.</div>
                <h3>Amplify <span class="card_stats">2 mana cost, 1 round duration</span></h3>
                <div>Click allied piece.</div><div>Doubles damage the targeted piece inflicts.</div>
                <h3>Enrage <span class="card_stats">2 mana cost, 1 round duration</span></h3>
                <div>Click enemy piece.</div><div>Enraged piece hits allies as well as enemeies.</div>
                <h3>Dodge: 2 mana cost</h3>
                <div>Click ally piece that is under threat (going to be hit in combat) and has at least one free adjacent
                 square.</div><div>Moves piece to random adjacent free square. (May move piece into enemy territory.)</div>
            </div>
        </div>
    </body>
</html>
      