<html>
  <head>
    <title>Chrss</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
<body>
  
<div style="width: 1500px;" >
  <div>
    <h1 style="float: left;">LET'S PLAY CHRSS!</h1>
    <canvas style="float: left" id="scoreboard" width="480" height="100"></canvas>
    <div id="turn"></div>
  </div>
  
  <div style="clear: both;">
    <div style="float: left;">
      <canvas id="board" width="600" height="600"></canvas>
    </div>
    
    <div style="float: left; margin-left: 30px; width:800px;">
      <div style="width: 400px; float: left;">
        <div id="card_buttons">
          <h3>Cards</h3>
          <button id="cancel_button">Cancel</button>
          <button id="confirm_button">Confirm</button>
          <button id="pass_button">Pass</button>
        </div>
        <div id="card_list"></div>
        <div id="card_description"></div>
      </div>
      <div style="float: left; margin-left: 20px; width: 200px;">
          <h3>Log</h3>
          <div id="log">
            
          </div>
        </div>
    </div>
  </div>
</div>


</body>
<script src="/static/main.js"></script>
</html>
