<html>
  <head>
    <title>Chrss</title>
    <link rel="stylesheet" type="text/css" href="/static/main.css">
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  </head>
<body>
  
  <audio id="fanfare" src="/static/fanfare.mp3" type="audio/mpeg"></audio>
  <audio id="campanas" src="/static/campanas.mp3" type="audio/mpeg"></audio>
  <audio id="sword" src="/static/sword_clash.mp3" type="audio/mpeg"></audio>
  <div id="top-container">
    
    <canvas id="board" width="650" height="650"></canvas>
  
    <div>
      <div>
        <canvas id="scoreboard" width="580" height="100"></canvas>

        <div id="status_info">
          <div id="timer"></div>
          <div id="wait_opponent">Opponent's turn</div>
          <div id="pass_button">Pass</div>
        </div>

        <div id="card_list" class="invisible_scroll"></div>
        <div id="card_description"></div>
        
        <div>
        <div id="log_box">
          <h3>Log</h3>
          <div id="log" class="invisible_scroll"></div>
        </div>
        </div>
      </div>  
    </div>
  </div>

  <div id="readyup"><button>READY UP</button></div>

</body>
<script src="/static/main.js"></script>
</html>
